# Python basics
## Introduction
some *text*, **that** we can ***highlight***
- point 1
- point 2
- point 3

Jupyter Notebook follows the concept of **literate programming**

In [1]:
# This is a comment
print("something")

something

In [2]:
print("Hello world!")

Hello world!

In [3]:
name = "Lovelace"

In [4]:
print(name)

Lovelace

In [5]:
name

'Lovelace'

In [7]:
age = 73

In [8]:
size = 1.7123

In [9]:
knows_math = True
likes_gardening = False

In [10]:
print(knows_math)

True

In [11]:
type(name)

str

In [12]:
type(age)

int

In [13]:
type(size)

float

In [14]:
type(likes_gardening)

bool

In [15]:
type(likes_gardening)

bool

In [16]:
5 + 5

10

In [17]:
100 * age

7300

In [18]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [19]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [20]:
name + "10"

'Lovelace10'

In [21]:
name + str(10)

'Lovelace10'

In [22]:
name + age

TypeError: can only concatenate str (not "int") to str

In [23]:
name + str(age)

'Lovelace73'

In [24]:
int("10")

10

In [25]:
int("thing")

ValueError: invalid literal for int() with base 10: 'thing'

In [26]:
size / age

0.023456164383561642

## Functions and Methods

In [27]:
len(name)

8

In [28]:
name

'Lovelace'

In [29]:
name.upper()

'LOVELACE'

In [30]:
name_uppercase = name.upper()

In [31]:
name_uppercase

'LOVELACE'

In [32]:
name = name.upper()

In [33]:
name

'LOVELACE'

In [34]:
name.isupper()

True

In [35]:
name.lower()

'lovelace'

In [36]:
name = name.lower()

In [37]:
name

'lovelace'

In [38]:
name.swapcase

In [39]:
name.swapcase()

'LOVELACE'

In [40]:
name.capitalize

In [41]:
name.capitalize()

'Lovelace'

In [42]:
name = name.lower()

In [43]:
name

'lovelace'

In [44]:
name.count("e")

2

In [45]:
name.replace("lace", "is everywhere")

'loveis everywhere'

In [46]:
name.replace("lace", " is everywhere")

'love is everywhere'

In [47]:
name.count?

In [48]:
name.count("l")

2

In [49]:
name = lovelace

NameError: name 'lovelace' is not defined

In [50]:
name = "Lovelace"

In [51]:
name.count("l")

1

In [52]:
count_upper = name.upper().count("E")

In [53]:
print(count_upper)

2

## Lists and Dictionaries

In [54]:
# List
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [55]:
names[2]

'Curie'

In [56]:
names[0]

'Lovelace'

In [57]:
names[3]

'Hawking'

In [58]:
names[-1]

'Hawking'

In [59]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [60]:
names[0:4]

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [63]:
names[:3]

['Lovelace', 'Darwin', 'Curie']

In [65]:
names[3:]

['Hawking']

In [66]:
names[:2] + names[3:]

['Lovelace', 'Darwin', 'Hawking']

In [67]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [68]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Noether": 1882, 
                           "Hawking": 1942}

In [69]:
authors_and_birth_years

{'Lovelace': 1882, 'Darwin': 1809, 'Noether': 1882, 'Hawking': 1942}

In [70]:
authors_and_birth_years[2]

KeyError: 2

In [71]:
authors_and_birth_years["Darwin"]

1809

In [72]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Noether": 1882, 
                           "Hawking": "birth year NA"}

In [73]:
authors_and_birth_years = ["Hawking"]

In [76]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": [1800,1801],
                           "Noether": 1882, 
                           "Hawking": "birth year NA"}

In [77]:
authors_and_birth_years["Darwin"]

[1800, 1801]

In [78]:
type()

TypeError: type() takes 1 or 3 arguments

In [79]:
type(authors_and_birth_years)

dict

In [80]:
authors_and_birth_years["Darwin",1]

KeyError: ('Darwin', 1)

In [81]:
authors_and_birth_years["Darwin"][2]

IndexError: list index out of range

In [82]:
authors_and_birth_years["Darwin"][0]

1800

## for - loop

In [83]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [86]:
names = ["Lovelace", "Hawking", "Noether"]

In [87]:
for person in names:
    print(person + " did awesome stuff")

Lovelace did awesome stuff
Hawking did awesome stuff
Noether did awesome stuff

In [88]:
for anything in names:
    print(anything + " did awesome stuff")

Lovelace did awesome stuff
Hawking did awesome stuff
Noether did awesome stuff

In [89]:
for person in names:
    print(person + " did awesome stuff")
    print("----------------")

Lovelace did awesome stuff
----------------
Hawking did awesome stuff
----------------
Noether did awesome stuff
----------------

In [90]:
for person in names:
    print(person + " did awesome stuff")
print("----------------")

Lovelace did awesome stuff
Hawking did awesome stuff
Noether did awesome stuff
----------------

## Conditionals

In [92]:
temp = 20

In [93]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [94]:
temp = 5
if temp > 15:
    print("It's warm")

In [101]:
temp = 5
if temp > 15:
    print("It's warm")
if temp < 15:
    print("It's cold")
if temp < 10:
    print("It's supercold")

It's cold
It's supercold

In [99]:
temp = 20
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [100]:
temp = 15
if temp >= 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
elif temp >= 10:
    print("It's mild")
else:
    print("It's cold")

It's warm